/* Navigation */

.navbar-nav {
    margin: 0 20px !important;
    line-height: 50px !important;
}

@media only screen and (max-width: 767px) {
    .navbar-nav .btn-group {
        width: 100%;
        padding: 10px 0 10px 0;
    }
    .navbar-nav .btn-group .btn {
        width: 100%;
    }
}

/* Customers */

.btn-customer-create {
    margin-bottom: 10px;
}

.customer-search button {
    margin-top: 10px;
}